<!DOCTYPE html>
<html lang="en" ng-app="fb-suggestions-app" ng-controller="MapCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entertainment Suggestions</title>
    <script>
        //Clientside redirect to https (need server-side solution)
        if (window.location.protocol != "https:")
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhy9XlaP1zIdzVMPbJanvr9wLqFxT3r-U&sensor=false&extension=.js&libraries=places"></script>
</head>
<body>
    <div>
        <div id="overlay">
            <div id="search-wrapper" class="cf">
                <input id="search-bar" type="search" class="form-control" placeholder="Search" />
                <button id="search-button"><i class="search-icon glyphicon glyphicon-search"></i></button>
                <button id="hamburger"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
                <div id="search-suggestions"></div>
            </div>
            <div id="menu">
                <div class="inner-menu">
                    <div class="tabs-wrapper">
                        <button onclick="" class="tab tab-selected" id="cat-tab">Categories</button>
                        <button class="tab disabled" id="user-tab">My Events</button>
                    </div>
                    <div class="category-wrapper">
                        <!--glyphicons are NOT a good way to do this. We need something else. -->
                        <div class="category-item"><i class="glyphicon glyphicon-film"></i>
                            <span>Movies</span>
                        </div>
                        <div class="category-item"><i  class="glyphicon glyphicon-shopping-cart"></i>
                            <span>Shopping</span>
                        </div>
                        <div class="category-item"><i  class="glyphicon glyphicon-cutlery"></i>
                            <span>Food</span>
                        </div>
                        <div class="category-item"><i class="glyphicon glyphicon-tree-conifer"></i>
                            <span>Active</span>
                        </div>
                        <div class="category-item"><i  class="glyphicon glyphicon-glass"></i>
                            <span>Nightlife</span>
                        </div>
                        <div class="category-item"><i class="glyphicon glyphicon-asterisk"></i>
                            <span>Miscellaneous</span>
                        </div>
                    </div>
                    <div class="login-wrapper" style="display:none;">
                        <form id="login-form" class="cf">
                            <div id="label-wrapper">
                                <div class="login-line"></div>
                                <label id="login-label" class="cf">Login</label>
                                <div class="login-line"></div>
                            </div>
                            <input id="login-input" class="cf" type="text" placeholder="Username" required>
                            <input id="password-input" class="cf" type="password" placeholder="Password" required>
                            <button type="submit" id="login-submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-block">
            <div id="map"></div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>