html,
body {
    width: 100%;
    height: 100%;
}

#map {
    height: inherit !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.infoWindowContent {
    font-size: 14px !important;
    padding: 20px;
    max-width: 400px;
    max-height: 600px;
    overflow-x: hidden;
    margin-left: 10px;
    padding-bottom: 30px;
}

.infoWindowContent .iw-title {}

.infoWindowContent .iw-rating {
    font-size: 18px;
    color: gold;
    margin-top: 5px;
}

.infoWindowContent .iw-desc {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5em;
    line-height: 1em;
    margin-top: 10px;
}

.infoWindowContent .iw-phone {
    font-size: 15px;
}

.infoWindowContent .img-wrapper {
    width: 100%;
    text-align: center;
}

.infoWindowContent img {
    max-width: 250px;
    display: inline-block;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.search-content {
    padding: 15px;
    width: 100%;
    text-align: center;
}

.search-content input {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: solid;
    border-width: thin;
    background: #fff;
    border-radius: 3px;
    border-color: #212121;
}

.search-content button {
    overflow: visible;
    height: 40px;
    color: #fff;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    position: absolute;
    right: 0;
    top: 0;
}

.search-content button:hover {
    background: #e54040;
}

.search-content button:active,
.search-content button:focus {
    background: #c42f2f;
    outline: 0;
}

#search-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 350px;
    height: 40px;
    z-index: 2;
    max-width: 90%;
}

#search-button,
#search-bar {
    border-radius: 0;
}

#search-bar {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%;
}

#search-bar:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

#search-button {
    position: absolute;
    right: -40px;
    top: 0;
    height: 100%;
    width: 40px;
    color: #fff;
    background: #C92A2A;
    border-color: #C92A2A;
    border-style: none;
}

#search-button:hover {
    background: #e23333;
}

#search-button:active,
#search-button:focus {
    background: #C92A2A;
    outline: 0;
}

#search-button:before {
    /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #C92A2A transparent;
    top: 12px;
    left: -6px;
}

#search-button:hover:before {
    border-right-color: #e23333;
}

#search-button:focus:before,
#search-button:active:before {
    border-right-color: #C92A2A;
}

#search-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#search-bar::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#search-bar:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#search-bar:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#hamburger {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    color: #fff;
    background: #C92A2A;
    border-color: #C92A2A;
    border-style: none;
}

#hamburger:hover {
    background: #e23333;
}

#menu {
    position: absolute;
    top: 0;
    left: -500px;
    height: 100%;
    width: 415px;
    z-index: 1;
    background: black;
    background: rgba(0, 0, 0, 0.8);
}

.slide-menu-right {
    -webkit-animation: menu-slide-in 1s ease forwards;
    animation: menu-slide-in 1s ease forwards;
}

.slide-menu-left {
    position: absolute;
    left: 0 !important;
    -webkit-animation: menu-slide-out 1s ease forwards;
    animation: menu-slide-out 1s ease forwards;
}

@-webkit-keyframes menu-slide-in {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}

@keyframes menu-slide-in {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}

@-webkit-keyframes menu-slide-out {
    100% {
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
    }
}

@keyframes menu-slide-out {
    100% {
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
    }
}