html,
body {
    width: 100%;
    height: 100%;
}

#map {
    height: inherit !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button {
    height: 40px;
    color: #fff;
    background: #C92A2A;
    border: 0;
}

button:hover {
    background: #e54040;
}

button:active,
button:focus {
    background: #c42f2f;
    outline: 0;
}

.infoWindowContent {
    font-size: 14px !important;
    padding: 20px;
    max-width: 400px;
    max-height: 600px;
    overflow-x: hidden;
    margin-left: 10px;
    padding-bottom: 30px;
}

.infoWindowContent .iw-title {}

.infoWindowContent .iw-rating {
    font-size: 18px;
    color: gold;
    margin-top: 5px;
}

.infoWindowContent .iw-desc {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5em;
    line-height: 1em;
    margin-top: 10px;
}

.infoWindowContent .iw-phone {
    font-size: 15px;
}

.infoWindowContent .img-wrapper {
    width: 100%;
    text-align: center;
}

.infoWindowContent img {
    max-width: 250px;
    display: inline-block;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.search-content {
    width: 100%;
    text-align: center;
}

.search-content input {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: solid;
    border-width: thin;
    background: #fff;
    border-radius: 3px;
    border-color: #212121;
}

.search-content button {
    overflow: visible;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

#search-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    height: 40px;
    z-index: 2;
    max-width: 90%;
}

#search-button,
#search-bar {
    border-radius: 0;
}

#search-bar {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%;
}

#search-bar:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

#search-button {
    position: absolute;
    right: -40px;
    top: 0;
    height: 100%;
    width: 40px;
}

#search-button:before {
    /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #C92A2A transparent;
    top: 12px;
    left: -6px;
}

#search-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#search-bar::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#search-bar:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#search-bar:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#hamburger {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    color: #fff;
    background: #C92A2A;
    border-color: #C92A2A;
    border-style: none;
}

#hamburger:hover {
    background: #e23333;
}

#menu {
    position: absolute;
    top: 0;
    left: -500px;
    height: 100%;
    width: 360px;
    z-index: 1;
    background: black;
    background: rgba(0, 0, 0, 0.8);
}

.inner-menu {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

.slide-menu-right {
    -webkit-animation: menu-slide-in 1s ease forwards;
    animation: menu-slide-in 1s ease forwards;
}

.slide-menu-left {
    position: absolute;
    left: 0 !important;
    -webkit-animation: menu-slide-out 1s ease forwards;
    animation: menu-slide-out 1s ease forwards;
}

@-webkit-keyframes menu-slide-in {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}

@keyframes menu-slide-in {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}

@-webkit-keyframes menu-slide-out {
    100% {
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
    }
}

@keyframes menu-slide-out {
    100% {
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
    }
}


/* Login */

.login-wrapper {
    position: absolute;
    width: 100%;
    top: 120px;
    left: 10px;
}

#label-wrapper {
    margin-left: 13px;
}

#login-label {
    display: inline-block;
    color: #fff;
    font: bold 30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    text-align: center;
    padding: 0 5px;
}

.login-line {
    display: inline-block;
    background: #fff;
    width: 30%;
    height: 1px;
    margin-bottom: 8px;
}

.login-wrapper input {
    display: block;
    width: 80%;
    margin: 10px 0 10px 20px;
    height: 40px;
    padding: 10px 10px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #fff;
    border: thin solid #212121;
}

#login-submit {
    display: block;
    height: 40px;
    padding: 0 7%;
    margin-left: 61%;
    overflow: visible;
}

.category-wrapper {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100%;
    position: relative;
}

.category-item {
    width: 168px;
    height: 168px;
    background: #C92A2A;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.category-item:hover {
    background: #e54040;
}

.category-item > i {
    color: white;
    font-size: 100px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 35px;
    top: 10px;
    pointer-events: none;
}

.category-item > p {
    color: white;
    font-size: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 30px;
    top: 120px;
    pointer-events: none;
}

.category-item-selected {
    border: white 2px solid;
}

.tabs-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.tabs-wrapper .tab {
    color: white;
    width: 168px;
    height: 50px;
    font-size: 1.3em;
    background: #601515;
}

.tabs-wrapper .tab:hover {
    background: #e54040;
}

.tabs-wrapper .tab-selected {
    background: #C92A2A;
    border: white 2px solid;
}